<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <title>Authentication Window</title>
</head>
<body>
  <div class="wrapper">
    <form method="post" class="form">
      <div class="form__title">AUTHENTICATION</div>
      <input type="text" name="email" class="form__input" placeholder="Email...">
      <input type="password" name="password" class="form__input" placeholder="Password...">
      <div class="form_buttons">
        <button type="submit" class="form__button">SIGN IN</button>
        <button type="button" onclick="document.location='/registr'" class="form__button">SIGN UP</button>
      </div>
    </form>
  </div>
</body>
</html>
